# Build artifacts
target/
*.jar
*.war
*.zip

# IDE-specific files
.idea/
.project
.classpath
.settings/
.vscode/

# Sensitive information and configuration
application-*.properties # Or specific files like application-dev.properties
*.log
*.tmp

# System files
.DS_Store
Thumbs.db
